* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

/* Header top */
.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    height: 80px;
    background-color: #add8e7;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 65%;
    /* DEBUG */
    background-color: #daa51e;
    font-size: 30px;
}

#logo {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

#main-nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 60%;
}

#main-nav ul a {
    text-decoration: none;
    color: black;
}

#login {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

/* Header bottom */
.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: #00018b;
    height: 500px;
}

#jumbotron {
    height: 400px;
    width: 50%;
    /* DEBUG */
    background-color: #ef82ed;
}

/* Container main */
.container-main {
    margin: 40px auto;
    width: 65%;
}

/* Main */
.container-row {
    display: flex;
    margin-bottom: 50px;
}

.text-box {
    height: 500px;
    width: 60%;
    /* DEBUG */
    background-color: #1e90ff;
}

.img-box {
    height: 500px;
    width: 40%;
    /* DEBUG */
    background-color: #ffc0ca;
}

.mobile-apps {
    height: 800px;
    /* DEBUG */
    background-color: green;
}

/* Footer top */
.footer-top {
    height: 600px;
    /* DEBUG */
    background-color: #23272a;
}